pandas==1.2.5
numpy==1.21.0
matplotlib==3.3.4
seaborn==0.11.1
plotly==4.14.1
torch==1.8.0
scikit-learn==0.24.1
googletrans==3.1.0a0
streamlit==0.83.0
tweepy==3.10.0
gensim==3.8.3
nltk==3.5
tabulate==0.8.9
